################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TranslationMemory/TranslationApp/.vshistory
/TranslationMemory/.vs
/.vs
